/* ------------------------------------header----------------------------------- */
  header {
      background: gray;
      padding: 20px 20px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;}
      
       header h1 {
      margin: 0;
      font-size: 2.5em;
      letter-spacing: 2px;
    }
    body{margin: 0px;
    }
    /* ---------------------------------------------------Center--------------------------------------- */
 .game-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.centergame {
  flex: 1;
  display: flex;
  justify-content: center;
}


    .centergame button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.centergame img {
  width: 300px;
  border-radius: 12px;
  transition: transform 0.2s ease;
}

.centergame img:active {
  transform: scale(0.95);
}
/* -----------------------------------------------placar----------------------------- */
 .placar {
  display: flex;
  flex-direction: column; /* empilha os elementos na vertical */
  justify-content: center;
  align-items: center;
}

.down button{
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}
/* ----------------------------------------loja-------------------------- */
#loja {
  border: 2px solid #444;
  padding: 16px;
  width: 250px;
  background: #f0f0f0;
  border-radius: 10px;
}

.powerup {
  border: 1px solid #aaa;
  margin: 10px 0;
  padding: 10px;
  cursor: pointer;
  background: #fff;
}

.powerup:hover {
  background: #e0ffe0;
}
